<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/image/favicon.png}" type="image/png"/>
    <title>Reservas</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/linericon/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/owl-carousel/owl.carousel.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/nice-select/css/nice-select.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/owl-carousel/owl.carousel.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/styleChatBot.css}"/>
    <!-- Google Fonts Link For Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />

    <!-- main css -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/responsive.css}"/>
</head>
<body>
<!-- Incluir encabezado-->
<div th:replace="~{header :: header}"></div>



<!-- Incluir el pie de página -->
<div th:replace="~{footer :: footer}"></div>



</body>
<!-- jQuery, Popper.js, Bootstrap JS -->
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/popper.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/vendors/owl-carousel/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
<script th:src="@{/js/mail-script.js}"></script>
<script th:src="@{/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/vendors/nice-select/js/jquery.nice-select.js}"></script>
<script th:src="@{/js/stellar.js}"></script>
<script th:src="@{/vendors/lightbox/simpleLightbox.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{/js/scriptChatBot.js}"></script>
</html>