

<th:block xmlns:th="http://www.thymeleaf.org">

    <!--================ Footer Area =================-->
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6  mx-5">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">Acerca de la Empresa</h6>
                        <p>Un refugio de hospitalidad auténtica ubicado en el corazón vibrante de Ayacucho </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 mx-5">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">Enlaces de Navegación</h6>
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list_style">
                                    <li><a href="#">Inicio</a></li>
                                    <li><a href="#">Características</a></li>
                                    <li><a href="#">Servicios</a></li>
                                    <li><a href="#">Portafolio</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list_style">
                                    <li><a href="#">Equipo</a></li>
                                    <li><a href="#">Precios</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Contacto</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">Boletín de habitaciones</h6>
                        <p>Ingresa tu correo, que te enviamos nuestras habitaciones</p>
                        <div id="mc_embed_signup">
                            <form target="_blank" action="" method="get" class="subscribe_form relative">
                                <div class="input-group d-flex flex-row">
                                    <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                    <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>
                                </div>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <button class="chatbot-toggler">
            <span class="material-symbols-rounded">mode_comment</span>
            <span class="material-symbols-outlined">close</span>
        </button>
        <div class="chatbot">
            <header>
                <h2>Chuwie Chatbot</h2>
                <span class="close-btn material-symbols-outlined">close</span>
            </header>
            <ul class="chatbox">
                <li class="chat incoming">
                    <span class="material-symbols-outlined">smart_toy</span>
                    <p>Hola! 👋<br>En que te puedo ayudar hoy?</p>
                </li>
            </ul>
            <div class="chat-input">
                <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
                <span id="send-btn" class="material-symbols-rounded">send</span>
            </div>
        </div>

    </footer>
    <!--================ End Footer Area =================-->


</th:block>
