<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/image/favicon.png}" type="image/png"/>
    <title>Habitaciones</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/linericon/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/owl-carousel/owl.carousel.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/nice-select/css/nice-select.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/owl-carousel/owl.carousel.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/styleChatBot.css}"/>
    <!-- Google Fonts Link For Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />

    <!-- main css -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/responsive.css}"/>
</head>
<body>
<!-- Incluir encabezado-->
<div th:replace="~{header :: header}"></div>


<!--================Breadcrumb Area =================-->
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Alojamiento</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Inicio</a></li>
                <li class="active">Alojamiento</li>
            </ol>
        </div>
    </div>
</section>
<!--================Breadcrumb Area =================-->




<!--&lt;!&ndash;================ Área de Alojamiento =================&ndash;&gt;-->
<!--<section class="accomodation_area section_gap d-flex justify-content-center align-items-center">-->
<!--    <div class="container text-center">-->
<!--        &lt;!&ndash; Sección de Habitaciones Individuales &ndash;&gt;-->
<!--        <div class="section_title">-->
<!--            <h2 class="title_color">Habitaciones Individuales</h2>-->
<!--            <p>Con baño privado para 1 persona, con una cama individual de una plaza y media. Costo: 60 soles.</p>-->
<!--        </div>-->
<!--        <div class="row mb-4">-->
<!--            &lt;!&ndash; Información básica &ndash;&gt;-->
<!--            <div class="col-lg-6 col-sm-12">-->
<!--                <div class="accomodation_item text-center">-->
<!--                    <div class="hotel_img">-->
<!--                        <img th:src="@{/image/room1.jpg}" alt="">-->
<!--                        <a th:href="@{/reserva/reserva_form}" class="btn theme_btn button_hover">Reservar Ahora</a>-->
<!--                    </div>-->
<!--                    <a href="#"><h4 class="sec_h4">Habitación Individual</h4></a>-->
<!--                    <h5>60<small>/noche</small></h5>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Lista de servicios con espacio vertical &ndash;&gt;-->
<!--            <div class="col-lg-6 col-sm-12">-->
<!--                <h5>Servicios</h5>-->
<!--                <ul class="list-group text-start mb-3 unordered-list">-->
<!--                    <li class="mb-3">Baño privado: con ducha, suministros básicos de tocador y agua caliente.</li>-->
<!--                    <li class="mb-3">Televisión por cable: con canales variados para el entretenimiento.</li>-->
<!--                    <li class="mb-3">Teléfono: para llamadas internas y externas.</li>-->
<!--                    <li class="mb-3">Wifi: fibra óptica / alta velocidad.</li>-->
<!--                    <li class="mb-3">Desayuno: Desayuno continental.</li>-->
<!--                    <li class="mb-3">Lavandería: opcional y sujeto a cargo adicional.</li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            &lt;!&ndash; Puedes agregar más habitaciones individuales si es necesario &ndash;&gt;-->
<!--        </div>-->

<!--        &lt;!&ndash; Sección de Habitaciones Dobles &ndash;&gt;-->
<!--        <div class="section_title">-->
<!--            <h2 class="title_color">Habitaciones Dobles</h2>-->
<!--            <p>Con baño privado para 2 personas, con dos camas de una plaza y media. Costo: 100 soles.</p>-->
<!--        </div>-->
<!--        <div class="row mb-4">-->
<!--            &lt;!&ndash; Información básica &ndash;&gt;-->
<!--            <div class="col-lg-6 col-sm-12">-->
<!--                <div class="accomodation_item text-center">-->
<!--                    <div class="hotel_img">-->
<!--                        <img th:src="@{/image/room2.jpg}" alt="">-->
<!--                        <a th:href="@{/reserva/reserva_form}" class="btn theme_btn button_hover">Reservar Ahora</a>-->
<!--                    </div>-->
<!--                    <a href="#"><h4 class="sec_h4">Habitación Doble</h4></a>-->
<!--                    <h5>100<small>/noche</small></h5>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Lista de servicios con espacio vertical &ndash;&gt;-->
<!--            <div class="col-lg-6 col-sm-12">-->
<!--                <h5>Servicios</h5>-->
<!--                <ul class="list-group text-start mb-3 unordered-list">-->
<!--                    <li class="mb-3">Baño privado: con ducha, suministros básicos de tocador y agua caliente.</li>-->
<!--                    <li class="mb-3">Televisión por cable: con canales variados para el entretenimiento.</li>-->
<!--                    <li class="mb-3">Teléfono: para llamadas internas y externas.</li>-->
<!--                    <li class="mb-3">Wifi: fibra óptica / alta velocidad.</li>-->
<!--                    <li class="mb-3">Desayuno: Desayuno continental.</li>-->
<!--                    <li class="mb-3">Lavandería: Opcional y sujeto a cargo adicional.</li>-->
<!--                    <li class="mb-3">Estacionamiento</li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            &lt;!&ndash; Puedes agregar más habitaciones dobles si es necesario &ndash;&gt;-->
<!--        </div>-->

<!--        &lt;!&ndash; Sección de Habitaciones Matrimoniales &ndash;&gt;-->
<!--        <div class="section_title">-->
<!--            <h2 class="title_color">Habitaciones Matrimoniales</h2>-->
<!--            <p>Con baño privado para 2 personas, con una cama de 2 plazas. Costo: 100 soles.</p>-->
<!--        </div>-->
<!--        <div class="row mb-4">-->
<!--            &lt;!&ndash; Información básica &ndash;&gt;-->
<!--            <div class="col-lg-6 col-sm-12">-->
<!--                <div class="accomodation_item text-center">-->
<!--                    <div class="hotel_img">-->
<!--                        <img th:src="@{/image/room3.jpg}" alt="">-->
<!--                        <a th:href="@{/reserva/reserva_form}" class="btn theme_btn button_hover">Reservar Ahora</a>-->
<!--                    </div>-->
<!--                    <a href="#"><h4 class="sec_h4">Habitación Matrimonial</h4></a>-->
<!--                    <h5>100<small>/noche</small></h5>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Lista de servicios con espacio vertical &ndash;&gt;-->
<!--            <div class="col-lg-6 col-sm-12">-->
<!--                <h5>Servicios</h5>-->
<!--                <ul class="list-group text-start mb-3 unordered-list">-->
<!--                    <li class="mb-3">Baño privado: con ducha, suministros básicos de tocador y agua caliente.</li>-->
<!--                    <li class="mb-3">Televisión por cable: con canales variados para el entretenimiento.</li>-->
<!--                    <li class="mb-3">Teléfono: para llamadas internas y externas.</li>-->
<!--                    <li class="mb-3">Wifi: fibra óptica / alta velocidad.</li>-->
<!--                    <li class="mb-3">Desayuno: Desayuno continental.</li>-->
<!--                    <li class="mb-3">Lavandería: Opcional y sujeto a cargo adicional.</li>-->
<!--                    <li class="mb-3">Estacionamiento</li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            &lt;!&ndash; Puedes agregar más habitaciones matrimoniales si es necesario &ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--&lt;!&ndash;================ Área de Alojamiento =================&ndash;&gt;-->


<!--================ Área de Alojamiento =================-->
<section class="accomodation_area section_gap d-flex justify-content-center align-items-center">
    <div class="container text-center">
        <!-- Sección de Habitaciones -->
        <div th:each="tipoHabitacion : ${tiposHabitaciones}">
            <div class="section_title">
                <h2 class="title_color" th:text="${tipoHabitacion.nombreTipo}"></h2>
                <p th:text="${tipoHabitacion.descripcion}"></p>
            </div>
            <div class="row mb-4">
<!--                &lt;!&ndash; Información básica &ndash;&gt;-->
<!--                <div class="col-lg-6 col-sm-12">-->
<!--                    <div class="accomodation_item text-center">-->
<!--                        <div class="hotel_img">-->
<!--                            &lt;!&ndash; Puedes ajustar la imagen según tus necesidades &ndash;&gt;-->
<!--                            <img th:src="@{/image/room3.jpg}" alt="">-->
<!--                            <a th:href="@{/reserva/reserva_form}" class="btn theme_btn button_hover">Reservar-->
<!--                                Ahora</a>-->
<!--                        </div>-->
<!--                        <a href="#"><h4 class="sec_h4" th:text="${tipoHabitacion.nombreTipo}"></h4></a>-->
<!--                        <h5 th:text="${tipoHabitacion.costo} + '/noche'"></h5>-->
<!--                    </div>-->
<!--                </div>-->


                <!-- Información básica -->
                <div class="col-lg-6 col-sm-12">
                    <div class="accomodation_item text-center">
                        <div class="hotel_img">
                            <!-- Verificar si hay una imagen definida -->
                            <img th:if="${tipoHabitacion.imagen != null}" th:src="@{'/image/' + ${tipoHabitacion.imagen}}" alt="">
                            <!-- Si no hay imagen definida, usar la imagen por defecto -->
                            <img th:unless="${tipoHabitacion.imagen != null}" th:src="@{/image/room3.jpg}" alt="">
<!--                            <a th:href="@{/reserva/reserva_form}" class="btn theme_btn button_hover">Reservar Ahora</a>-->
                            <a th:href="@{/reserva/reserva_form(tipoId=${tipoHabitacion.idTipoHabitacion})}" class="btn theme_btn button_hover">Reservar Ahora</a>
                        </div>
                        <a href="#"><h4 class="sec_h4" th:text="${tipoHabitacion.nombreTipo}"></h4></a>
                        <h5 th:text="'S/. '+ ${tipoHabitacion.precio} + '/noche'"></h5>
                    </div>
                </div>



                <!-- Lista de servicios con espacio vertical -->
                <div class="col-lg-6 col-sm-12">
                    <h5>Servicios</h5>
                    <ul class="list-group text-start mb-3 unordered-list">
                        <li class="mb-3" th:each="servicio : ${tipoHabitacion.servicios}" th:text="${servicio.nombre}"></li>
                    </ul>
                </div>
                <!-- Puedes agregar más información según tus necesidades -->
            </div>
        </div>
    </div>
</section>
<!--================ Área de Alojamiento =================-->

<!-- Incluir el pie de página -->
<div th:replace="~{footer :: footer}"></div>



</body>
<!-- jQuery, Popper.js, Bootstrap JS -->
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/popper.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/vendors/owl-carousel/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
<script th:src="@{/js/mail-script.js}"></script>
<script th:src="@{/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/vendors/nice-select/js/jquery.nice-select.js}"></script>
<script th:src="@{/js/stellar.js}"></script>
<script th:src="@{/vendors/lightbox/simpleLightbox.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{/js/scriptChatBot.js}"></script>
<script th:src="@{/js/usuario.js}"></script>
</html>