<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/image/favicon.png}" type="image/png"/>
    <title>Hotel San Cristobal</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/linericon/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/owl-carousel/owl.carousel.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/nice-select/css/nice-select.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/owl-carousel/owl.carousel.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/styleChatBot.css}"/>
    <!-- Google Fonts Link For Icons -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0"/>

    <!-- main css -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/responsive.css}"/>
</head>
<body>
<!-- Incluir encabezado-->
<div th:replace="~{header :: header}"></div>

<!--================Banner Area =================-->
<section class="banner_area">
    <div class="booking_table d_flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
             data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h6>Lejos de la vida monótona</h6>
                <h2>Relaja tu Mente</h2>
                <p>Contamos con las mejores habitaciones de la ciudad, ven y experimenta la calidad.</p>
                <a href="#" class="btn theme_btn button_hover" th:href="@{/clientes/registro}">Registrate ahora!</a>
            </div>
        </div>
    </div>
<!--    <div class="hotel_booking_area position">-->
<!--        <div class="container">-->
<!--            <div class="hotel_booking_table">-->
<!--                <div class="col-md-3">-->
<!--                    <h2>Reserva<br> Tu Habitación</h2>-->
<!--                </div>-->
<!--                <div class="col-md-9">-->
<!--                    <div class="boking_table">-->
<!--                        <div class="row">-->
<!--                            <div class="col-md-4">-->
<!--                                <div class="book_tabel_item">-->
<!--                                    <div class="form-group">-->
<!--                                        <div class='input-group date' id='datetimepicker11'>-->
<!--                                            <input type='text' class="form-control" placeholder="Fecha de Llegada"/>-->
<!--                                            <span class="input-group-addon">-->
<!--                                                        <i class="fa fa-calendar" aria-hidden="true"></i>-->
<!--                                                    </span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-4">-->
<!--                                <div class="book_tabel_item">-->
<!--                                    <a class="book_now_btn button_hover" href="#">Buscar habitación</a>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</section>
<!--================Banner Area =================-->

<!--================ Área de Alojamiento =================-->
<section class="accomodation_area section_gap">
    <div class="container">
        <!-- Sección Nuestras Habitaciones -->
        <div class="section_title text-center">
            <h2 class="title_color">Nuestras Habitaciones</h2>
            <p>Descubre nuestras cómodas habitaciones diseñadas para satisfacer tus necesidades.</p>
        </div>
        <div class="row mb_30">
            <!-- Habitación Individual -->
            <div class="col-lg-4 col-sm-12">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img th:src="@{/image/room1.jpg}" alt="">
                        <a th:href="@{/reserva/reserva_form}" class="btn theme_btn button_hover">Reservar Ahora</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">Habitación Individual</h4></a>
                    <h5>60<small>/noche</small></h5>
                </div>
            </div>

            <!-- Habitación Doble -->
            <div class="col-lg-4 col-sm-12">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img th:src="@{/image/room2.jpg}" alt="">
                        <a th:href="@{/reserva/reserva_form}" class="btn theme_btn button_hover">Reservar Ahora</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">Habitación Doble</h4></a>
                    <h5>100<small>/noche</small></h5>
                </div>
            </div>

            <!-- Habitación Matrimonial -->
            <div class="col-lg-4 col-sm-12">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img th:src="@{/image/room3.jpg}" alt="">
                        <a th:href="@{/reserva/reserva_form}" class="btn theme_btn button_hover">Reservar Ahora</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">Habitación Matrimonial</h4></a>
                    <h5>100<small>/noche</small></h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Área de Alojamiento =================-->



<!--================ Área de Instalaciones  =================-->
<section class="facilities_area section_gap">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background="">
    </div>
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_w">Instalaciones Reales</h2>
            <p>Para aquellos que aman extremadamente el sistema ecológico.</p>
        </div>
        <div class="row mb_30">
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-dinner"></i>Restaurante</h4>
                    <p>El uso de Internet se está volviendo más común debido al rápido avance de la tecnología y la
                        energía.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-bicycle"></i>Club Deportivo</h4>
                    <p>El uso de Internet se está volviendo más común debido al rápido avance de la tecnología y la
                        energía.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-shirt"></i>Piscina</h4>
                    <p>El uso de Internet se está volviendo más común debido al rápido avance de la tecnología y la
                        energía.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-car"></i>Alquiler de Coches</h4>
                    <p>El uso de Internet se está volviendo más común debido al rápido avance de la tecnología y la
                        energía.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-construction"></i>Gimnasio</h4>
                    <p>El uso de Internet se está volviendo más común debido al rápido avance de la tecnología y la
                        energía.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-coffee-cup"></i>Bar</h4>
                    <p>El uso de Internet se está volviendo más común debido al rápido avance de la tecnología y la
                        energía.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Área de Instalaciones  =================-->





<!-- Incluir el pie de página -->
<div th:replace="~{footer :: footer}"></div>


</body>
<!-- jQuery, Popper.js, Bootstrap JS -->
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/popper.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/vendors/owl-carousel/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
<script th:src="@{/js/mail-script.js}"></script>
<script th:src="@{/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/vendors/nice-select/js/jquery.nice-select.js}"></script>
<script th:src="@{/js/stellar.js}"></script>
<script th:src="@{/vendors/lightbox/simpleLightbox.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{/js/scriptChatBot.js}"></script>


</html>